#header_div {
    background-color: darkgrey;
}
#body_div {
    background-color: dodgerblue;
}
#footer_div {
    background-color: darkgrey;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
